.PLayerContainer{
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 95%;
}
.PLayerContainer_Child {
  box-sizing: content-box;
  border: 1px solid black;
  margin-bottom: 16px;
}